#button-div{
	display: flex;
	width: 100vw;
	justify-content: center;
}

a{
	background-color: red;
	border-radius: 15px;
	padding: 12px;
	width: 80%;
	max-width: 600px;
	text-decoration: none;
	text-align: center;
}

p{
	color: #fff;
	font-family: "Work Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	min-width: calc(100% - 90px);
}