#header{
	background: linear-gradient(180deg, #FFC048 31%, #99732B00 100%);
	background-color: #FFC048;
	width: 100%;
}

#logo{
	height: 106px;
}

#logo:hover{
	cursor: pointer;
}

#top-header{
	/* position: fixed; */
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	background-color: #FFC048;
	align-items: flex-start;
}

#bottom-header{
	/* margin-top: 126px; */
	width: 100%;
	display: flex;
	justify-content: center;
}

.cart{
	height: 30px;
	color: white;
}

#count-absolute{
	display: absolute;
	margin-left: -10px;
	margin-bottom: -15px;
}

#counter {
  display: flex;
  background-color: red;
  height: 22px;
  width: 22px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

#counter-value {
	margin-top: 10px;
  font-size: 12px;
  text-align: start;
	color: white;
}

#cart-div{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 12px;
}

#pontos-de-venda-button{
	margin: 0;
	color: #582919;
	font-family: "Work Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	margin-right: 20px;
}
@media only screen and (max-width: 930px){
	#flex-art{
		flex-direction: column;
		gap: 40px;
	}

}

img {
	height: 315px;
}

#instagram-icon{
	height: 40px;
}

#button-div{
	display: flex;
	flex-direction: column;
	align-items: center;
}