<div id="header">
	<div id="top-header">
		<img id="logo" src="/assets/Logo.png" (click)="handleClick('')"/>
		<div id="cart-div">
			<button id="pontos-de-venda-button" (click)="handleClick('/pontos')">Pontos de Venda</button>
			<img class="cart" src="assets/cart-shopping-svgrepo-com.svg"/>
			<div id="count-absolute">
				<div id="counter" [style.visibility]="sumQuantity(this.products) > 0 ? 'visible' : 'hidden'">
					<p id="counter-value">{{sumQuantity(products)}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
