<app-separator title="Reabasteça seu Estabelecimento"></app-separator>
<div id="product-container">
	<div id="productsList" [style.width.px]="calculateProductsListWidth()">
		@for (product of products;track product.name) {
		
			<app-product 
				[increaseQuantity]="product.increaseQuantity" 
				[decreaseQuantity]="product.decreaseQuantity" 
				[productQuantity]="product.quantity" 
				productName={{product.name}} 
				productValue={{product.value}} 
				productPicture={{product.picture}} 
				productAlt={{product.alt}} 
			>
			</app-product>
		}
	</div>
</div>