#productsList{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	margin: auto;
	justify-content:space-around;
}

.filling-empty-space-childs{
	width:205px;
	height:0;
}

h2 {
	margin-top: 67px;
}