#product-container{
	display: flex;
	justify-content: center;
}
#productsList{
	display: grid; 
	grid-template-columns: repeat(auto-fill, 200px); 
	justify-content: space-between; 
	grid-gap: 20px; 
}
.filling-empty-space-childs{
	height:0;
}

h2 {
	margin-top: 67px;
}